# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
.venv/
venv/

# Environment variables
.env
.env.*

# VS Code
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/
env